###########################
# FILE DI COMPILAZIONE 
###########################
[Bb]in/
[Oo]bj/

###########################
# IDE E EDITOR
###########################
# Visual Studio Code
.vscode/

# Visual Studio (Classico)
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# JetBrains Rider 
.idea/
*.sln.iml

###########################
# SISTEMA OPERATIVO
###########################
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

###########################
# FILE SPECIFICI MODDING
###########################

*.dll
*.pdb
*.xml

# Log generati localmente
*.log
modlog.txt

###########################
# FILE SPECIFICI AGENTI
###########################

# File compilati Python
__pycache__/
*.pyc

# Modelli pesanti e log
checkpoints/
*.pth
*.log
training_log.txt

checkpoints_ppo/
training_log_ppo.txt